In [20]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,  StandardScaler, OneHotEncoder
import pickle

In [21]:
data = pd.read_csv("Churn_Modelling.csv")
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [22]:
# dropping irrealavant features >> RowNumber	CustomerId	Surname
data = data.drop(["RowNumber","CustomerId","Surname"],axis = 1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [23]:
#Apply label ecnoding on Gender
lbl_gender = LabelEncoder()
data["Gender"] =  lbl_gender.fit_transform(data["Gender"])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [24]:
# now apply One Hot Encoding to Geography Column
ohe_obj = OneHotEncoder()
encoded_geo = ohe_obj.fit_transform(data[["Geography"]]) 
encoded_geo

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [25]:
geo_features = ohe_obj.get_feature_names_out(["Geography"]) 
geo_features 

geo_df = pd.DataFrame(encoded_geo.toarray(), columns= geo_features)
geo_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [26]:
data = pd.concat([data.drop("Geography", axis = 1), geo_df],axis = 1)
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [27]:
# Train Test Split
X = data.drop("EstimatedSalary", axis = 1)
y = data["EstimatedSalary"]

In [28]:
#Train Test Split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state= 42)

In [29]:

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [30]:
X_test.shape

(2000, 12)

In [31]:
X_train.shape

(8000, 12)

In [32]:
# save the encoders and scalers
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(lbl_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(ohe_obj, file)

# Save the fitted scaler object for future use (to apply same scaling on new data)
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

ANN Training with Regression

In [33]:
import tensorflow  as tf 
from tensorflow.keras.models import Sequential 
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard 
import datetime

In [34]:
#Build the model

model = Sequential([
    Dense(64, activation= 'relu', input_shape = (X_train.shape[1],)), # hidden layer 1 connected with I/P layer
    # I considered that i will use 64 neurons at starting level of HL

    Dense(32, activation= 'relu'), #32 input from previous layer so no need to give I/P layer as it's sequential
    Dense(1) # here 1 is input from previous layer and we are using different Act_funcs
])

c:\Users\lenovo\Desktop\GenAI\ANN\venv\Lib\site-packages\keras\src\layers\core\dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [35]:
# Compile with smaller learning rate + MAE loss (regression ke liye stable)
model.compile(optimizer= 'adam', loss= 'mean_absolute_error',metrics = ['mae'])
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [36]:
#Set up the tensorboard
log_dir = "Regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir= log_dir, histogram_freq= 1)

#log_dir = folder where TensorBoard logs (events) will be saved; timestamp makes it unique.
#TensorBoard(..., histogram_freq=1)
#histogram_freq=1 asks TF to log weight & activation histograms every epoch (useful but heavy).
#The callback will write files into log_dir during training so TensorBoard can visualize them.


# Set up EarlyStoping
early_stoping_callbacks = EarlyStopping(monitor='val_loss', patience= 10, restore_best_weights= True )

#patience=5 → if validation loss doesn't improve for 5 consecutive epochs, stop training.
#restore_best_weights=True → after stopping, restore model weights from the epoch with the best val_loss.

In [37]:
# Train the model
history = model.fit(X_train,y_train, 
                    validation_data= (X_test, y_test),
                    epochs=100, 
                    callbacks = [early_stoping_callbacks, tensorflow_callback])

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 7s 11ms/step - loss: 100370.2734 - mae: 100370.2734 - val_loss: 98482.2031 - val_mae: 98482.2031
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 99489.2500 - mae: 99489.2500 - val_loss: 96699.1562 - val_mae: 96699.1562
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 96391.0156 - mae: 96391.0156 - val_loss: 92159.0781 - val_mae: 92159.0781
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 90346.6406 - mae: 90346.6406 - val_loss: 84717.5391 - val_mae: 84717.5391
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 81740.8984 - mae: 81740.8984 - val_loss: 75374.4297 - val_mae: 75374.4297
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 72040.8281 - mae: 72040.8281 - val_loss: 66137.6406 - val_mae: 66137.6406
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - loss: 63174.7695 - mae: 63174.7695 - val_loss: 58715.9570 - val_mae: 58715.9570
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 56683.5078 - mae: 56683.5078 - val_loss: 53925.2656 - val_mae: 53925.2656
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 52909.2617 - mae: 52909.2617 - val_loss: 51637.1484 - val_mae: 51637.1484
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 13ms/step - loss: 51160.5938 - mae: 51160.5938 - val_loss: 50911.8828 - val_mae: 50911.8828
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 6s 18ms/step - loss: 50497.2891 - mae: 50497.2891 - val_loss: 50665.7539 - val_mae: 50665.7539
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - loss: 50251.2227 - mae: 50251.2227 - val_loss: 50581.4570 - val_mae: 50581.4570
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 12ms/step - loss: 50141.9648 - mae: 50141.9648 - val_loss: 50537.1094 - val_mae: 50537.1094
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 7ms/step - loss: 50070.2422 - mae: 50070.2422 - val_loss: 50515.9258 - val_mae: 50515.9258
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 6ms/step - loss: 50012.9062 - mae: 50012.9062 - val_loss: 50491.6836 - val_mae: 50491.6836
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49971.2578 - mae: 49971.2578 - val_loss: 50472.1211 - val_mae: 50472.1211
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49925.5742 - mae: 49925.5742 - val_loss: 50456.1055 - val_mae: 50456.1055
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49889.4219 - mae: 49889.4219 - val_loss: 50432.5781 - val_mae: 50432.5781
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 6ms/step - loss: 49860.6133 - mae: 49860.6133 - val_loss: 50422.3516 - val_mae: 50422.3516
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49831.9453 - mae: 49831.9453 - val_loss: 50409.6172 - val_mae: 50409.6172
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 49805.2188 - mae: 49805.2188 - val_loss: 50407.0742 - val_mae: 50407.0742
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 16ms/step - loss: 49779.5312 - mae: 49779.5312 - val_loss: 50399.4492 - val_mae: 50399.4492
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - loss: 49758.8125 - mae: 49758.8125 - val_loss: 50392.5938 - val_mae: 50392.5938
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49740.1953 - mae: 49740.1953 - val_loss: 50381.7461 - val_mae: 50381.7461
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 49717.7773 - mae: 49717.7773 - val_loss: 50384.5781 - val_mae: 50384.5781
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 11ms/step - loss: 49700.6172 - mae: 49700.6172 - val_loss: 50378.0234 - val_mae: 50378.0234
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 6ms/step - loss: 49683.4102 - mae: 49683.4102 - val_loss: 50375.2344 - val_mae: 50375.2344
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 6s 20ms/step - loss: 49664.0078 - mae: 49664.0078 - val_loss: 50371.2617 - val_mae: 50371.2617
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 6s 22ms/step - loss: 49649.2305 - mae: 49649.2305 - val_loss: 50373.2695 - val_mae: 50373.2695
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 9s 13ms/step - loss: 49634.3672 - mae: 49634.3672 - val_loss: 50369.1797 - val_mae: 50369.1797
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 6s 15ms/step - loss: 49621.8555 - mae: 49621.8555 - val_loss: 50370.7070 - val_mae: 50370.7070
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 16ms/step - loss: 49610.0469 - mae: 49610.0469 - val_loss: 50351.8008 - val_mae: 50351.8008
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 15ms/step - loss: 49597.8633 - mae: 49597.8633 - val_loss: 50357.3789 - val_mae: 50357.3789
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 6s 16ms/step - loss: 49587.5352 - mae: 49587.5352 - val_loss: 50352.0742 - val_mae: 50352.0742
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 13ms/step - loss: 49577.4062 - mae: 49577.4062 - val_loss: 50358.3984 - val_mae: 50358.3984
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 6s 17ms/step - loss: 49565.1562 - mae: 49565.1562 - val_loss: 50355.5156 - val_mae: 50355.5156
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 14ms/step - loss: 49554.0469 - mae: 49554.0469 - val_loss: 50354.0000 - val_mae: 50354.0000
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 17ms/step - loss: 49540.4648 - mae: 49540.4648 - val_loss: 50355.6367 - val_mae: 50355.6367
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - loss: 49533.8203 - mae: 49533.8203 - val_loss: 50362.9766 - val_mae: 50362.9766
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 7s 16ms/step - loss: 49526.1211 - mae: 49526.1211 - val_loss: 50357.8828 - val_mae: 50357.8828
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 6s 18ms/step - loss: 49512.0508 - mae: 49512.0508 - val_loss: 50360.1836 - val_mae: 50360.1836
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 15ms/step - loss: 49502.5195 - mae: 49502.5195 - val_loss: 50364.5195 - val_mae: 50364.5195

In [38]:
%load_ext tensorboard 
#%load_ext tensorboard loads Jupyter magic to show TensorBoard inside the notebook.

In [40]:
%tensorboard --logdir Regressionlogs/fit
#starts TensorBoard UI pointing to the logs folder.

Reusing TensorBoard on port 6006 (pid 5092), started 1 day, 23:00:19 ago. (Use '!kill 5092' to kill it.)

In [41]:
#evaluation

test_loss, test_mae = model.evaluate(X_test, y_test)
print(f"Test MAE: {test_mae}")

63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 50351.8008 - mae: 50351.8008
Test MAE: 50351.80078125

In [42]:
# Save the Model
model.save("Regression_model.h5") #Saves the entire model (architecture + weights + optimizer state)

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.